@model List<Produto>;
@{
    ViewData["Title"] = "Carrossel";
}
<h3>Catálogo</h3>
@*@foreach (var Produto in Model)
    {
        <div>@Produto.Nome</div>
    }*@
<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @{
            const int TAMANHO_PAGINA = 4;
            //metodo para retorna sempre inteiro numa divisão
            int paginas = (int)Math.Ceiling((double)Model.Count() / TAMANHO_PAGINA);
        }
        @for (int pagina = 0; pagina < paginas; pagina++)
        {

            //se pagina for iqual a zero ela recebe active
            //if else em uma forma simplificada
            <div class="item @(pagina == 0 ?/*teste logico*/ "active"/*true*/ : ""/*false*/)">
                <div class="row">
                    @{
                        //Utiliza-se Model.Take(Quantidade Nescessaria) Para pegar os Primeiro itens Do Modela Da pagina.
                        //Skip(Quantidade) para pular uma quantidade certa de itens.
                        var ProdutosDaPagina = Model.Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA);
                    }
                    @foreach (var Produto in ProdutosDaPagina)
                    {
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img class="img-produto-carrossel" src="/images/produtos/large_@(Produto.Codigo).jpg" />
                                </div>
                                <div class="panel-footer produto-footer">
                                    <div class="produto-nome">@Produto.Nome</div>
                                    <div><h4><strong>R$ @Produto.Preco</strong></h4></div>
                                    <div class="text-center">
                                        @* Link com tag Helper *@
                                        <a asp-action="Carrinho" asp-route-codigo="@Produto.Codigo" class="btn btn-success">Adicionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        }

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
